body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  display: grid;
  justify-items: center;
}

.main {
  width: 90vw;
  margin-top: 30px;
}

.card {
  margin-bottom: 30px;
}

.schedule {
  margin: 10px;
}

.controls {
  margin: 10px;
}


/* Fix the below as per: https://ricardozea.medium.com/how-to-remove-the-blue-border-outline-in-chrome-safari-and-dotted-line-in-firefox-edge-fe5e2155d44c */
a { 
  border:0; 
  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
}